/* line 3, ../sass/common.scss */
a {
  color: #00c928;
}

/* line 7, ../sass/common.scss */
a:hover {
  color: #0ba20b;
}

/* line 11, ../sass/common.scss */
body {
  background: #fdfdfd;
  color: #333333;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
}

/* line 18, ../sass/common.scss */
footer {
  margin: 3em 0;
  border-top: 1px #333333 solid;
}
/* line 23, ../sass/common.scss */
footer ul {
  margin: 0.5em 0 0 0;
  overflow: hidden;
}
/* line 29, ../sass/common.scss */
footer li {
  display: block;
  float: left;
  margin: 0 0.5em 0 0;
}
/* line 35, ../sass/common.scss */
footer li:after {
  content: ' | ';
}
/* line 39, ../sass/common.scss */
footer li:last-child:after {
  content: '';
}
