@import url(common.css);
/* line 18, ../sass/result.scss */
header {
  width: 100%;
  position: fixed;
  z-index: 1030;
}
/* line 23, ../sass/result.scss */
header #summary {
  background: #000;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(20%, #232425), color-stop(100%, #000000));
  background-image: -webkit-radial-gradient(center, ellipse cover, #232425 20%, #000000 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #232425 20%, #000000 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #232425 20%, #000000 100%);
  background-image: radial-gradient(center, ellipse cover, #232425 20%, #000000 100%);
  padding: 20px 0 5px;
  text-align: center;
  color: #fff;
}
/* line 30, ../sass/result.scss */
header #summary h1 {
  font-size: 45px;
  margin: 10px 0 25px;
}
/* line 35, ../sass/result.scss */
header #summary dl {
  position: relative;
  left: 50%;
  float: left;
  margin: 0 0 10px 0;
}
/* line 41, ../sass/result.scss */
header #summary dl dt, header #summary dl dd {
  position: relative;
  font-weight: normal;
  left: -50%;
  float: left;
}
/* line 47, ../sass/result.scss */
header #summary dl dt:after {
  content: "：";
}
/* line 50, ../sass/result.scss */
header #summary dl dd {
  margin: 0 15px 0 0;
  color: #00c2ff;
  font-weight: bold;
}
/* line 56, ../sass/result.scss */
header #summary dl span {
  color: #fdfdfd;
}
/* line 63, ../sass/result.scss */
header nav#headerMenu {
  background: #f0f0f0;
  padding: 3px 15px;
  color: #000;
  font-size: 16px;
  overflow: hidden;
}
/* line 70, ../sass/result.scss */
header nav#headerMenu ul {
  margin: 0 auto;
  overflow: hidden;
  float: left;
}
/* line 74, ../sass/result.scss */
header nav#headerMenu ul li {
  display: block;
  float: left;
  padding: 10px 15px 10px;
}
/* line 79, ../sass/result.scss */
header nav#headerMenu ul li:first-child {
  padding-left: 0px;
}
/* line 84, ../sass/result.scss */
header nav#headerMenu ul#sub {
  float: right;
  font-size: 14px;
}
/* line 87, ../sass/result.scss */
header nav#headerMenu ul#sub li {
  padding-left: 0;
}
/* line 92, ../sass/result.scss */
header nav#headerMenu form {
  margin: 5px 0 0 0;
}
/* line 95, ../sass/result.scss */
header nav#headerMenu form input[type=text] {
  margin-bottom: 0;
  width: 10em;
}

/* line 104, ../sass/result.scss */
#ad {
  padding-top: 190px;
  width: 728px;
  margin: 0 auto 25px;
}

/* line 112, ../sass/result.scss */
#list tr .header {
  background-image: url("../img/sortBg.gif");
}
/* line 115, ../sass/result.scss */
#list tr .headerSortUp {
  background-image: url("../img/sortAsc.gif");
}
/* line 118, ../sass/result.scss */
#list tr .headerSortDown {
  background-image: url("../img/sortDesc.gif");
}
/* line 123, ../sass/result.scss */
#list th {
  border-bottom: 1px solid #ccc;
  color: #000;
  font-weight: normal;
  background: #f0ffe8 no-repeat;
  background-position: 70% 50%;
  cursor: pointer;
}
/* line 131, ../sass/result.scss */
#list td.w {
  color: #a43c37;
}
/* line 134, ../sass/result.scss */
#list td.l {
  color: #0088cc;
}
/* line 137, ../sass/result.scss */
#list td.j {
  color: #591b96;
}
/* line 140, ../sass/result.scss */
#list td.i {
  color: #939393;
}
/* line 143, ../sass/result.scss */
#list td.o {
  color: #a0a437;
}
/* line 146, ../sass/result.scss */
#list td.noData {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* line 153, ../sass/result.scss */
#role {
  margin-bottom: 3em;
}
/* line 155, ../sass/result.scss */
#role table {
  float: left;
  width: auto;
  margin: 20px 2em 0 0;
}
/* line 161, ../sass/result.scss */
#role table thead tr {
  color: #fdfdfd;
}
/* line 164, ../sass/result.scss */
#role table thead td:first-child {
  padding-right: 1em;
}
/* line 167, ../sass/result.scss */
#role table thead tr.vil {
  background: #0ba20b;
}
/* line 170, ../sass/result.scss */
#role table thead tr.wlf {
  background: #a20b0b;
}
/* line 173, ../sass/result.scss */
#role table thead tr.fry {
  background: #0034a1;
}
/* line 177, ../sass/result.scss */
#role table td {
  text-align: right;
  padding: 5px;
}
/* line 181, ../sass/result.scss */
#role table td:first-child {
  text-align: left;
}
