@import "compass";

$white: #fdfdfd;
$black: #333;

@include font-face('Glyphicons Halflings',font-files('glyphiconshalflings-regular.woff','glyphiconshalflings-regular.ttf','glyphiconshalflings-regular.otf'),'glyphiconshalflings-regular.eot');

@mixin icon
{
  font-family:'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-size:12px;
}

.id:before
{
  @include icon;
  content: "\e085";
}
.ig:before /* gachi */
{
  @include icon;
  content: "\e104";
}

.ir:before
{
  @include icon;
  content: "\e043";
}

.ip:before/* plus */
{
  @include icon;
  content: "\e081";
}

a {
  color: #00c928;
}

a:hover {
  color: #0ba20b;
}

body{
  background: $white;
  color: $black;
  font-family:'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;
}

fieldset
{
  /* 複数フォーム */
  a.add{
    display:inline-block;
    position:relative;
    color:#006dcc;
    outline: none;
    text-decoration:none;
  }
  a.add:hover
  {
    text-decoration:none;
    color:#006dcc;
  }
  #moreID
  {
    h4
    {
      text-align:left;
      margin: 5px 0;
    }
    input[type=text]
    {
      font-size:16px;
      line-height:1.2em;
    }
  }
}

footer
{
  margin: 3em 0;
  border-top: 1px $black solid;

  ul
  {
    margin: 0.5em 0 0 0;
    overflow:hidden;
    
  }
  li
  {
    display:block;
    float:left;
    margin: 0 0.5em 0 0;
  }
  li:after
  {
    content:' | ';
  }
  li:last-child:after
  {
    content:'';
  }
}

