@import 'mod-var';
@import '../../sass/mixin';
@import '../../sass/lib-icon';

$hlight: #00c2ff;

$win: #a43c37;
$lse: #0088cc;
$jin: #591B96;
$ivd: #939393;
$olk: #a0a437;



header {
  width: 100%;
  background: #000;
  padding: 10px 0 0 0;
  color: #fff;
  background-image: -webkit-radial-gradient(center, ellipse cover, #232425 20%,#000000 100%);//>Safari6,>=iOS7
  background-image: radial-gradient(center, ellipse cover, #232425 20%,#000000 100%);
  text-align: center;
  .container {
    margin-top: 0;
    h1 {
      @include font-size(4.5);
      margin: 0.2em 0 0;
    }
  }
}

dl {
  margin: 5px 0;
  dt,dd {
    display:inline-block;
  }
  dt {
    float:none;
    text-align: left;
    margin:0;
    &:after {
      content:":";
    }
  }
  dd {
    margin: 0 15px 0 0;
    color: $hlight;
    font-weight: bold;
  }
  span {
    color:$col_bg;
  }
  .mod-sphone {
    display: none;
  }
}

nav {
  color: $col_text;
  margin-bottom: 0;
  form {
    .form-group {
      float: left;
    }
    a {
      float: left;
      display: inline-block;
      margin: 0 12px 0 2px;
      @include font-size(3.0);
      &:hover,&:focus {
        text-decoration: none;
      }
      span {
        display: none;
      }
    }
    .i-plus {
      display: inline-block;
      &:before {
        position: relative;
        top: 5px;
      }
    }
    button {
      margin-top: 1px;
    }
  }
  .tips {
    position: relative;
    display: block;
    padding: 13px 15px;
    float: left;
  }
}

.modal-body {
  text-align: center;
  #id {
    margin-bottom: .5em;
  }
  button {
    margin: 1em 0 0 0;
  }
  li {
    margin: 1em 0;
    input {
      text-align: center;
    }
  }
}

#ad {
  margin: 0 auto 25px;
  text-align:center;
  max-width: 728px;
  @include font-size(1.2);
}

%result {
  width: 4em;
}

#scroll {
  width: 95%;
  margin: 0 auto;
  .toggle_scroll {
    overflow: auto;
    margin: 0 auto;
    display: none;
  }
}

.dynatable-per-page-page {
  margin-right: 1em;
  float: right;
}
.dynatable-per-page-list {
  margin-top: -3px;
}

#list {
  white-space: nowrap;
  margin: 0 auto;
  border: 0;
  width: 100%;
  th {
    color: #000;
    border-left: 0;
    text-align: left;
    font-weight:normal;
    background: #f0ffe8 no-repeat;
    cursor: pointer;
    padding: 4px 5px;
    a {
      display: block;
    }
  }
  td {
    border-left: 0;
    padding: 4px 5px;
  }

  .win {
    @extend %result;
    color:$win;
  }
  .lose {
    @extend %result;
    color: $lse;
  }
  .rp{
    @extend %result;
    color: $jin;
  }
  .invalid{
    @extend %result;
    color: $ivd;
  }
  .onlooker{
    @extend %result;
    color: $olk;
  }
}

#role {
  margin: 2.5em auto 0;
  width: 95%;
  overflow: hidden;

  .role {
    float: left;
    &:after {
      content:"";
      display: block;
      clear: both;
    }
  }

  table{
    width: auto;
    margin: 20px 2em 0 0;
    border: 0;
    thead {
      color:$col_bg;
    }
    td {
      text-align: right;
      padding: 5px 7px;
      border-left: 0;
      &:first-child {
        padding-right: 1em;
        text-align: left;
      }
    }
    .village {
      background: #0ba20b; //緑
    }
    .wolf {
      background: #a20b0b; //赤
    }
    .fairy {
      background: #0034A1; //青
    }
    .lovers {
      background: #F066C7; //桃
    }
    .lwolf {
      background: #555;    //灰
    }
    .piper {
      background: #CAC800; //黄
    }
    .efb {
      background: #7939B3; //紫
    }
    .evil {
      background: #E18400; //橙
    }
    .fish {
      background: #0A9092; //水
    }
    .teru {
      background: #804e05; //茶
    }
    .slave {
      background: #466216; //抹茶
    }
    .none {
      background: #333; //灰
    }
  }
}

footer{
  border-top:none;
  margin: 5em 0 3em;
  p {
    margin: 0;
    border-bottom:1px solid #333;
    a:hover {
      text-decoration:none;
    }
    .i-up:before {
      @include font-size(3.2);
    }
  }
}


@include tablet {
  nav form {
    input {
      width: 100%;
    }
    .form-group {
      float: none;
    }
    .i-plus {
      @include font-size(1.6);
      span {
        display: inline-block;
      }
      &:before {
        top: 2px;
      }
    }
  }

  #role {
    .role {
      float: none;
    }
    table {
      width:100%;
    }
  }
}

@include sphone {
  header {
    .container h1 {
      margin:5px 0 10px;
    }
    .mod-sphone {
      display: inline;
    }
  }
}
